.home {
	margin: 30px 30px;
  min-height: 320px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background: url(~@/assets/img/tile.jpg);
	border: 15px solid #8b693f;
  border-radius: 10px;
  
  .delete-post-it-leave-to {
    animation: removed-item-animation 1s cubic-bezier(0.55, -0.04, 0.91, 0.94) forwards;
    transform-origin: 0% 100%;
  }
}

@keyframes removed-item-animation {
  0% {
      opacity: 1;
      transform: rotateZ(0);
  }

  100% {
      opacity: 0;
      transform: translateY(600px) rotateZ(90deg);
  }
}
